.popupwindow_container{
    z-index: 99999;;
}

.trend-class{
    display: inline-block;
    margin: .3rem;
}

span.bullsVersesBears {
    padding: .1rem;
    color: #000;
    font-weight: bold;
}
.marketwatch-sidebar .marketwatch-selector a.item{
    padding: 10px 10px;
    text-decoration: none !important;
}
.draw-points{
    cursor: pointer;
}
.trend-class{
    cursor: pointer;
}

.badge {
    display: inline-block;
    font-size: 0.65em;
}

.add-to-basket{
    cursor: pointer;
    margin: .3rem;
}

.marketwatch-sidebar .instruments .instrument .info{
    --min-price-width:unset;
}